<div id="<%= dom_id ingredient %>">
  <p>
    <strong>Name:</strong>
    <%= ingredient.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= ingredient.amount %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= ingredient.unit %>
  </p>

  <p>
    <strong>Sub heading:</strong>
    <%= ingredient.sub_heading %>
  </p>

</div>
